@import url('https://fonts.googleapis.com/css?family=Gayathri|Livvic&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Livvic', sans-serif;
    --purple1: rgb(131, 41, 166);
    --purple2: rgb(94, 29, 193);
    --pink1: rgb(167, 53, 138);
    --pink2: rgb(167, 53, 138);
    --purple-pale: rgba(113, 89, 199, 1);
    --texture1: linear-gradient(0deg, rgba(51, 74, 220, 0.44) 0%, 
                rgba(51, 74, 220, 0.44) 22%,
                rgba(72, 79, 213, 0.44) 22%, 
                rgba(72, 79, 213, 0.44) 31%,
                rgba(92, 84, 206, 0.44) 31%, 
                rgba(92, 84, 206, 0.44) 33%,
                rgba(113, 89, 199, 0.44) 33%, 
                rgba(113, 89, 199, 0.44) 63%,
                rgba(133, 93, 192, 0.44) 63%, 
                rgba(133, 93, 192, 0.44) 80%,
                rgba(154, 98, 185, 0.44) 80%, 
                rgba(154, 98, 185, 0.44) 83%,
                rgba(174, 103, 178, 0.44) 83%, 
                rgba(174, 103, 178, 0.44) 98%,
                rgba(195, 108, 171, 0.44) 98%, 
                rgba(195, 108, 171, 0.44) 100%),
                    linear-gradient(90deg, rgb(204, 65, 111) 0%, 
                    rgb(204, 65, 111) 2%,rgb(186, 59, 125) 2%, 
                    rgb(186, 59, 125) 14%,rgb(167, 53, 138) 14%, 
                    rgb(167, 53, 138) 15%,rgb(149, 47, 152) 15%, 
                    rgb(149, 47, 152) 42%,rgb(131, 41, 166) 42%, 
                    rgb(131, 41, 166) 77%,rgb(113, 35, 180) 77%, 
                    rgb(113, 35, 180) 81%,rgb(94, 29, 193) 81%, 
                    rgb(94, 29, 193) 82%,rgb(76, 23, 207) 82%, 
                    rgb(76, 23, 207) 100%);
}

#header {
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    min-height: 150px;
    width: 100vw;
    height: 10vh;
    align-items: center;
    justify-items: center;
    background: linear-gradient(var(--purple1),rgba(154, 98, 185, 0.44));
    opacity: 0.9;
}

#main-heading {
    margin: auto;
    width: 100vw;
    font-size: 3em;
    color: rgb(54, 29, 66);
    text-align: center;
    text-shadow: 2px 2px 5px var(--purple2);
}

#nav {
    margin: auto;
}

.nav-link {
    margin: auto;
    width: 10vw;
    height: 5vh;
    padding: 10px;
    text-decoration: none;
    color: rgb(251, 233, 255);
    font-size: 1em;
    background-color: var(--purple1);
    border: 1px solid var(--purple2);
    border-radius: 5px;
}

.nav-link:visited {
    color: rgb(251, 233, 255);
}

.nav-link:hover {
    filter: hue-rotate(33deg);
    box-shadow: 0px 0px 5px var(--purple1);
}

#body-container {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    background: var(--texture1);
}

#canvas1 {
    margin: auto;
    margin-top: 200px;
    display: flex;
    flex-flow: row, nowrap;
    height: 500px;
    width: 75vw;
}


.box {
    display: inline-block;
    margin: auto;
    margin-left: 0px;
    margin-right: 0px;
    height: 120px;
    width: 60px;
    transition: 0.5s;
    background-image:linear-gradient(50deg,var(--pink2),var(--purple1));
    background-position: left;
    background-size: 300%;
    text-align: center;
    font-size: 2em;
    color: rgba(0,40,0,0);
    line-height: 200px;
}

.box:hover, .box:focus {
    height: 300px;
    background-position: right;
    color: rgba(0,40,0,100);
    border-radius: 10px;
    line-height: 300px;
    transition: 0.5s;
}

#box1 {
    margin-left: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#box10 {
    margin-right: auto;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

