* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    --purple-light: rgb(233, 215, 255);
    --purple-light2: rgb(247, 234, 255);
    --purple-dark: rgb(28, 0, 65);
    --purple-dark2: rgb(51, 0, 117);
    --texture1: linear-gradient(0deg, rgba(51, 74, 220, 0.44) 0%, 
                rgba(51, 74, 220, 0.44) 22%,
                rgba(72, 79, 213, 0.44) 22%, 
                rgba(72, 79, 213, 0.44) 31%,
                rgba(92, 84, 206, 0.44) 31%, 
                rgba(92, 84, 206, 0.44) 33%,
                rgba(113, 89, 199, 0.44) 33%, 
                rgba(113, 89, 199, 0.44) 63%,
                rgba(133, 93, 192, 0.44) 63%, 
                rgba(133, 93, 192, 0.44) 80%,
                rgba(154, 98, 185, 0.44) 80%, 
                rgba(154, 98, 185, 0.44) 83%,
                rgba(174, 103, 178, 0.44) 83%, 
                rgba(174, 103, 178, 0.44) 98%,
                rgba(195, 108, 171, 0.44) 98%, 
                rgba(195, 108, 171, 0.44) 100%),
                    linear-gradient(90deg, rgb(204, 65, 111) 0%, 
                    rgb(204, 65, 111) 2%,rgb(186, 59, 125) 2%, 
                    rgb(186, 59, 125) 14%,rgb(167, 53, 138) 14%, 
                    rgb(167, 53, 138) 15%,rgb(149, 47, 152) 15%, 
                    rgb(149, 47, 152) 42%,rgb(131, 41, 166) 42%, 
                    rgb(131, 41, 166) 77%,rgb(113, 35, 180) 77%, 
                    rgb(113, 35, 180) 81%,rgb(94, 29, 193) 81%, 
                    rgb(94, 29, 193) 82%,rgb(76, 23, 207) 82%, 
                    rgb(76, 23, 207) 100%)
}

#header {
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    min-height: 150px;
    width: 100vw;
    height: 10vh;
    align-items: center;
    justify-items: center;
    background: linear-gradient(var(--purple-dark2),rgba(154, 98, 185, 0.44));
    opacity: 0.9;
}

#main-heading {
    margin: auto;
    width: 100vw;
    font-size: 3em;
    color: var(--purple-light);
    text-align: center;
    text-shadow: 2px 2px 5px var(--purple-dark);
}

#nav {
    margin: auto;
}

.nav-link {
    margin: auto;
    width: 10vw;
    height: 5vh;
    padding: 10px;
    text-decoration: none;
    color: rgb(251, 233, 255);
    font-size: 1em;
    background-color: var(--purple-dark2);
    border: 1px solid var(--purple-dark2);
    border-radius: 5px;
}

.nav-link:visited {
    color: rgb(251, 233, 255);
}

.nav-link:hover {
    filter: hue-rotate(33deg);
    box-shadow: 0px 0px 5px var(--purple-light);
}

#body-container {
    display: flex;
    flex-flow: column nowrap;
    background: var(--texture1);
}

.canvas {
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    height: 800px;
    width: 75vw;
    /* background-color: var(--purple-dark); */
}

#canvas1 {
    margin-top: 200px;
}

#head {
    margin: auto;
    margin-bottom: 0px;
    margin-top: 100px;
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    width: 150px;
    border: 2px solid black;
    border-radius: 10px;
    background: rgb(224, 190, 255);
}

#eye1 {
    display: flex;
    margin: auto;
    height: 30px;
    width: 30px;
    border: 2px solid black;
    border-radius: 100px;
    background-color: rgb(248, 240, 255);
    box-shadow: 0px 0px 10px rgb(146, 56, 173);
}

#pupil1 {
    margin: auto;
    margin-bottom: 0px;
    height: 15px;
    width: 20px;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: black;
}

#eye2 {
    display: flex;
    margin: auto;
    height: 30px;
    width: 30px;
    border: 2px solid black;
    border-radius: 100px;
    background-color: rgb(248, 240, 255);
    box-shadow: 0px 0px 10px rgb(146, 56, 173);
}

#pupil2 {
    margin: auto;
    margin-bottom: 0px;
    height: 15px;
    width: 20px;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: black;
}

#mouth {
    margin: auto;
    margin-bottom: 3px;
    height: 50px;
    width: 100px;
    background: linear-gradient(180deg,black,rgb(146, 56, 173));
    border: 2px solid black;
    border-bottom: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#torso {
    margin: auto;
    margin-top: 0px;
    height: 275px;
    width: 250px;
    border: 2px solid black;
    border-radius: 10px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background: rgb(224, 190, 255);
}